@font-face {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantsc/v16/0ybmGD4kxqXBmOVLG30OGwsmWBMk-hfz0jCGGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant SC', Arial, sans-serif;
}

header {
  position: absolute;
  top: 10px;
  margin-top: 15px;
  font-size: 30px;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: beige;
  font-size: 14px;
  background-image: url('https://img.freepik.com/free-photo/detail-drawings-stairs-most-famous-temple-copan-ruinas-honduras_242111-15846.jpg?t=st=1657283204~exp=1657283804~hmac=a584f0000e64e8e15e119e8a98b1d4a349f7ec90400e235004836945019c5618&w=900');
}
.wrapper{
  padding: 25px;
  margin-right: 20px;
  border-radius: 10px;
  background: #F8F8F8;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.cards, .card, .view{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
}
.cards .card{
  cursor: arrow;
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}

.card.shake{
  animation: shake 0.35s ease-in-out;
}

#endScreen {
  display: flexbox;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 101;
  border-radius: 5%;
  width: 500px;
  height: 200px; 
  background-color: #47484b;
  display: none;
}

#endScreenContent {
  border-radius: 5%;
  padding: 20px;
  background-color: #47484b;
  text-align: center;
}

.button {
  background-color: #262728;
  padding: 20px;
  margin-top: 30px;
  font-weight: 400;
  text-align: center;
}

.button:hover {
  background-color: #1b1b1b;
  color:white;
}

/* sets the animation for the cards shakes */
.card.shake{
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
.card .view{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: #fff;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: transform 0.25s linear;
}
.card .front-view img{
  width: 100%;
}
.card .back-view img{
  max-width: 100%;
}
.card .back-view{
  transform: rotateY(-180deg);
}
.card.flip .back-view{
  transform: rotateY(0);
}
.card.flip .front-view{
  transform: rotateY(180deg);
}

@media screen and (max-width: 750px) {
  header {
    font-size: 25px;
  }
  .cards{
    height: 350px;
    width: 350px;
  }
  .card .front-view img{
    width: 100%;
  }
  .card .back-view img{
    max-width: 100%;
  }
}

@media screen and (max-width: 530px) {
  header {
    font-size: 10px;
  }
  .cards{
    height: 300px;
    width: 300px;
  }
  .card .front-view img{
    width: 100%;
  }
  .card .back-view img{
    max-width: 100%;
  }
}